# Ignore Python virtual environment
.venv/

# Other common ignores
__pycache__/
*.pyc
*.log
.DS_Store


C:\Users\abhin\OneDrive\Desktop\Code\daily-coding\sql\company_specific_interview_prep\traba\d1-core-sql-joins-aggregations.sql


# ignore environment variable files
C:\Users\abhin\OneDrive\Desktop\Code\daily-coding\.env

.env
